.ui.menu.main-menu {
	border-radius: 0;
}

.ui.main-menu .item {
	font-size: 20px;
}

.ui.main-menu img {
	border-right: 1px solid darkgrey;
	padding-right: 10px;
	margin-right: 15px !important;
}

.ui.main-menu .eventsource-status {
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ui.inverted.menu .item:before {
	background-color: inherit;
}

.ui.main-menu .item:first-child {
	padding: 1em 1em 1em 0.5em;
}

.ui.main-menu .item {
	padding: 1em;
}

.ui.main-menu .item a {
	color: white;
}

.main-content {
	padding-top: 4em;
	padding-bottom: 5em;
}

.description pre {
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 0.7em;
	padding: 4px;
}
