.ui.menu .item {
	font-size: 20px;
}

.main-content {
	margin-top: 4em;
	margin-bottom: 5em;
}

.description pre {
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 0.7em;
	padding: 4px;
}
