name: Build

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java:
          - {
            version: "11"
          }
          - {
            version: "17"
          }

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK ${{ matrix.java.version }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java.version }}
        distribution: temurin

    - name: Get Date
      id: get-date
      run: |
        echo "::set-output name=date::$(/bin/date -u "+%Y-%m")"
      shell: bash
    - name: Cache Maven Repository
      id: cache-maven
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        # refresh cache every month to avoid unlimited growth
        key: maven-repo-pr-${{ runner.os }}-${{ steps.get-date.outputs.date }}

    - name: Build with Maven
      run: mvn -B formatter:validate verify --file pom.xml

