name: Test downstream projects

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        project:
          - {
            organization: "quarkusio",
            repository: "quarkus-github-bot"
          }
          - {
            organization: "hibernate",
            repository: "hibernate-github-bot"
          }
          - {
            organization: "quarkusio",
            repository: "quarkus-github-lottery"
          }

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Get Date
      id: get-date
      run: |
        echo "::set-output name=date::$(/bin/date -u "+%Y-%m")"
      shell: bash
    - name: Cache Maven Repository
      id: cache-maven
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        # refresh cache every month to avoid unlimited growth
        key: maven-repo-pr-downstream-${{ runner.os }}-${{ steps.get-date.outputs.date }}

    - name: Build quarkus-github-app
      run: mvn -B install --file pom.xml -DskipTests

    - name: Get project version
      id: get-version
      run: |
        echo "::set-output name=version::$(mvn org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)"
      shell: bash

    - uses: actions/checkout@v3
      with:
        repository: ${{ matrix.project.organization }}/${{ matrix.project.repository }}
        path: ${{ matrix.project.repository }}

    - name: Update quarkus-github-app version in ${{ matrix.project.repository }}
      run: mvn -B versions:set-property -Dproperty=quarkus-github-app.version -DnewVersion=${{ steps.get-version.outputs.version }}
      working-directory: ${{ matrix.project.repository }}

    - name: Run ${{ matrix.project.repository }} tests
      run: mvn -B install
      working-directory: ${{ matrix.project.repository }}

